html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#map-ctr {
  height: 100%;
  width: 100%;
  background: url("../img/crystal-map.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.label {
  /* transform: rotate(-10deg); */
  /* transform-origin: 1% 1%; */
}